@font-face{
    font-family: 'dital-7-mono';
    src: url('../digitalclock/digital-7/digital-7-mono.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.clock{
    color: rgb(245, 233, 195);
    background: rgb(163, 187, 218);
    background-image: url(../digitalclock/images.jpg);
    background-size: cover;
    box-shadow: 2 2 4px rgba(116, 164, 236, 0.5),
    0 0 8px rgba(219, 198, 151, 0.788) inset;
    height: 400px;
    display: flex;
    padding: 300px;
    justify-content: center;
    align-items: center;
    border: 30px solid rgb(240, 227, 193);
    border-radius: 20px;
    font-size: 60px;
    font-family: 'digital-7-mono',monospace;
}
.clock.container{
   display: flex;
}
h2{
    text-align: center;
    color: rgb(231, 189, 71);
    font-size: 30px;
}